* {
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  height: 100%;
}

body {
  background-color: #fff;
  padding-bottom: 100px;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
  background-color: #FCA205;
}

.navbar a, .navbar .navbar-collapse ul li a {
  color: white;
}

.navbar-brand {
    font-family: 'Lobster', sans-serif;
    font-size: 2em;
}

.jumbotron {
  background-color: #FCA205;
  color: #fff;
}

form {
  padding-bottom: -30px;
}

.submitBtn {
  background-color: #fff;
  color: #FCA20E;
}

.courseName {
  color: #FCA205;
}
.questionsList, .no-delay {
  background-color: #FCA205;
}

.questionsList:nth-child(odd) {
  background-color: #FFB88E;
}

.questionsList span {
  color: #fff;
}

.arrow {
  padding-top: 45px;
  font-size: 2em;
}
.container {
  margin-bottom: 75px;
}

.footer {
  padding-top: 10px;
  text-align: center;
  background-color: #FCA205;
  color: #fff;
}

.well {
  color: black;
}
